header {
  color: rgb(0, 0, 255);
  text-align: center;
  background: rgb(255, 0, 0);
  font-size: 30px;
}
#bi {
  color: rgb(0, 255, 0);
  background: rgb(255, 255, 0);
}
#pi {
  color: rgb(255, 255, 255);
  background: rgb(0, 255, 0);
}
