body {background: rgb(0,0,255);
  margin: 0;
} 

.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;
  background: rgb(255, , 255)
}

.box {
  background: blue;
  padding: 40px;
}